@model LocalDestination.Models.HotelDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HotelDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationName)
        </dd>

    </dl>
</div>
<p>
    @if (Model.IsUserOwned)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.HotelId }) <span> | </span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
